* {
	margin: 0;
	padding: 0;
}

body {
	background: white;
	color: #000;
	font-family: 'Roboto', sans-serif;
}

.contenedor {
	width: 100%;
	max-width: 100%;
	margin: 20px auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, auto);

	grid-template-areas: "header header header"
                          "contenido contenido sidebar "
                          "widget-1 widget-2 sidebar"
                          "footer footer footer"
                        
}

.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar
.contenedor .footer {

}

.contenedor .header {
	background: #40054e;
	color: #fff;
	grid-area: header;
    text-align: center;
}

.contenedor .contenido {
	grid-area: contenido;
}

.contenedor .sidebar {
	grid-column: 3 / 4;
	background:  #fff;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100px;
	grid-area: sidebar;
}


.contenedor .widget-1{
	
	color: #fff;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contenedor .widget-1 {
	grid-area: widget-1;

}

.contenedor .widget-1  img{
	min-width: 100%;
    min-height: 100%;

}

.contenedor .widget-2 {
	
	color: #831212;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
    background-color: white;
   
}



.contenedor .widget-2 {
	grid-area: widget-2;
}

.contenedor .footer {
	background: #12203E;
	color: #fff;
	grid-area: footer;
    display:flex;justify-content: center;
    align-items: center;
}

.contenedor .footer img{
    width: 70px;
    height: 70px;
}

@media screen and (max-width: 768px){
	.contenedor {
		grid-template-areas: "header header header"
						 "contenido contenido contenido"
						 "sidebar sidebar sidebar"
						 "widget-1 widget-1 widget-1"
                         "widget-2 widget-2 widget-2"
						 "footer footer footer";
	}
}

.Navbar {
    width: 80%;
    margin: 2rem auto;
    list-style-type: none; 
    text-align: center;
    font-size: 0;
}

.Navbar > ul li {
    display: inline-block;
    width: 20%;
    position: relative;
    background: #40054e;
}

.Navbar li a {
    display: block;
    text-decoration: none;
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: #fffefe;
}

.Navbar li:hover a {
    background: #40054e;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    padding-bottom: 2px;
    color: #daf10a;
    
}

.Navbar li ul {
    position: absolute;
    width: 0;
    overflow: hidden;
}

.Navbar li:hover ul {
    width: 100%;
    margin: 0 -4rem -4rem -4rem;
    padding: 0 4rem 4rem 4rem;
    z-index: 5;
}

.Navbar li li {
    display: block;
    width: 100%;
}

.Navbar li:hover li a {
    font-size: 1.5rem;
    line-height: 1.7rem;
    border-top: 1px solid #e5e5e5;
    background: hsla(12, 22%, 26%, 0.46);
    padding: .4rem;
}

.Navbar li li a:hover {
    background: hsla(9, 22%, 18%, 0.542);; 
}

.contenedor img {
    width: 400px;
    height: 400px;
}